<div class="age-modal" id="ageModal">
    <div class="age-modal__content">
        <p class="age-text"><span class="age-span">18+</span> Only</p>
        <p class="age-text-content">This game is for adults <span class="age">18+</span> .<br/>
        It’s a social game for fun, no real money involved. </p>

        <div class="age-modal__buttons">
             <button id="enterBtn">Go to game</button>
            <button id="exitBtn">Leave site</button>           
        </div>
    </div>
</div>