<header class="header" id="site-header">
    <div class="header-container container">
        <a class="header-logo" href="./#home">
            <img src="/img/header/logo.png" alt="logo" loading="lazy">
        </a>
        <button type="button" class="menu-button" aria-label="menu toggle">
            <span class="icon">
<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M5 7H23" stroke="white" stroke-width="3" stroke-linecap="round" />
    <path d="M5 14H23" stroke="white" stroke-width="3" stroke-linecap="round" />
    <path d="M5 21H23" stroke="white" stroke-width="3" stroke-linecap="round" />
</svg>
            </span>
        </button>

        <nav class="nav ">
            <ul class="navigation-list">
                <li class="navigation-item">
                    <a class="links" href="./#about">About</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#world">World</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#gameplay">Gameplay</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#wild">Wild Symbol</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#demo">Highlights</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
    <ul class="menu-list">
        <li class="menu-item"><a class="menu-list-item" href="./#about">About</a></li>
        <li class="menu-item"><a class="menu-list-item" href="./#world">World</a></li>
        <li class="menu-item"><a class="menu-list-item" href="./#gameplay">Gameplay</a></li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#wild">Wild Symbol</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#demo">Highlights</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="terms.html">Terms & Conditions</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="privacy.html">Privacy Policy</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="cookies.html">Cookies Policy</a>
        </li>
    </ul>
</div>