<section class="home-section" id="home">
    <div class="container">
        <h1 class="visually-hidden">Triple Chili</h1>
        <div class="home-wrapper">
            <picture>
                <source srcset="
            /img/home/logo-desk.png  1x,
            /img/home/logo-desk@2x.png 2x
                 " media="(min-width: 1439px)" />
                <source srcset="
            /img/home/logo-mob.png  1x,
            /img/home/logo-mob@2x.png 2x
                 " media="(max-width: 1438px)" />
                <img class="hero-logo" src="/img/home/logo-mob.png" alt="Triple Chili" loading="lazy" />
            </picture>
            <div class="home-text-wrapper">
                <p class="home-big">It's basically a spicy slot game with some<br class="desk"/> ancient civilization vibes thrown in.</p>
                <p>So you've got hot peppers, tropical fruit, and ancient pyramids all mashed together - sounds crazy but it actually works
                pretty well. They took regular<br class="mob"/>
                slot mechanics and gave it this<br class="mob" />
                Aztec/Mayan makeover<br class="mob" />
                that looks pretty sweet.</p>
                <p class="home-text-two">With 5x8 reels, there's constantly stuff going on - never a dull moment.</p>
            </div>
            <a class="hero-btn pulse" href="#demo">
<img src="/img/home/btn.png" alt="play" loading="lazy">
            </a>
        </div>
    </div>
</section>