.age-modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;

}

.age-modal.hidden {
    display: none;
}

.age-modal__content {
box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.18);
    background: radial-gradient(97.99% 53.62% at 50.01% 50%, #004b00 0%, #001b00 100%);
border-radius: 20px;
    padding: 48px 20px;
    width: 335px;
    height: 324px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 31px;
}
.age-text{
font-family: "Momo Trust Sans", sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 1.2;
    text-align: center;
color: #fff;
}
.age-span {
color: #fd0f00;
}
.age-text-content {
font-family: "Momo Trust Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    color: #fff;
}
.age{
font-weight: 800;
}
.age-modal__buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
justify-content: center;
}


#enterBtn {
    border: none;
border-radius: 2px;
    padding: 7px 15px;
    width: 140px;
    height: 34px;
    background: #42ad1e;
font-family: "Sansation", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42857;
    color: #fff;
}

#exitBtn {
    border: none;
border-radius: 2px;
    padding: 7px 15px;
    width: 140px;
    height: 34px;
    background: #fd0f00;
font-family: "Sansation", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42857;
    color: #fff;
}

.age-modal__buttons button:hover {
    transform: translateY(-2px);
}

@media only screen and (min-width: 1440px) {
    .age-modal__content {
border-radius: 20px;
    padding: 120px;
    width: 905px;
    height: 476px;
    }
.age-text{
    font-size: 60px;
}

.age-text-content {
font-size: 28px;
}
#enterBtn {
width: 103px;
}

#exitBtn {
width: 98px;
}
}