body{
  background: #0b100b;
  font-family: "Momo Trust Sans", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.55556;
    color: #fff;
}
h2{
  font-family: "Momo Trust Sans", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    text-align: center;
    color: #fff;
    margin-bottom: 36px;
}
h3{
  font-family: "Momo Trust Sans", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.33333;
    text-align: center;
    color: #fff;
    margin-bottom: 28px;
}
@media only screen and (min-width: 1440px) {
  body{
    font-size: 24px;
  }
  h2{
font-size: 48px;
  line-height: 1.16667;
  }
  h3{
font-size: 28px;
  line-height: 1.14286;
  }
}